* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    user-select: none;
}

body {
    font-family: 'Sriracha', cursive;
}

/* field background  : 참고한 부분*/

.background {
    position: absolute;
    z-index: -1;
    width: 650px;
    height: 650px;
    margin: auto;
    left: 50%;
    top: -50px;
    transform: translate(-50%);
}

.field {
    width: 400px;
    height: 400px;
    background-color: #81ecec;
    border-top-left-radius: 400px;
    margin: 80px auto;
    transform: rotate(45deg);
    position: relative;
}
.foul-lines {
    width: 388px;
    height: 388px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
.infield-container {
    position: absolute;
    left: 100px;
    top: 100px;
}
.infield {
    width: 250px;
    height: 250px;
    border-top-left-radius: 100%;
    position: absolute;
    left: 37.5px;
    top: 37.5px;
    background-color: #00cec9;
}
.base {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    z-index: 10;
}
.first {
    left: 265px;
    top: 90px;
}
.second {
    left: 130px;
    top: 130px;
    transform: rotate(45deg);
}
.third {
    left: 90px;
    top: 265px;
}
.home {
    left: 265px;
    top: 265px;
}
.pitchers-mound {
    width: 20px;
    height: 10px;
    background-color: white;
    transform: rotate(135deg);
    position: absolute;
    top: 200px;
    left: 195px;
    z-index: 10;
}

/* container */

.header > h1 {
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

.score-board-container {
    width: 800px;
    height: 100px;
    margin: auto;
    /* background-color: #30336b; */
    /* color: white; */
    /* opacity: 0.7; */
    color: #30336b;
}

.score-board {
    border: 2px solid #34495e;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 18px;
    border-collapse: collapse;
    margin: auto;
}
.score-board td {
    width: 80px;
    height: 30px;
    border: 2px solid #34495e;
}

.inning-board {
    margin-top: 10px;
    font-size: 60px;
    color: #2c3e50;
    text-align: center;
}

.input {
    width: 400px;
    height: 150px;
    /* border: 1px solid red; */
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.input-div {
    width: 100px;
    height: 130px;
    border: 2px solid #16a085;
    background-color: #eee;
    border-radius: 5px;
    font-size: 90px;
    line-height: 125px;
    opacity: 0.7;
    margin: auto;
    text-align: center;
}

.button-container {
    width: 550px;
    height: 100px;
    background-color: #b2bec3;
    margin: auto;
    border-radius: 5px;
    margin-top: 30px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(6, 6fr);
    border-radius: 5px;
}

.buttons div {
    width: 80px;
    height: 40px;
    background-color: #ecf0f1;
    font-size: 30px;
    line-height: 38px;
    border-radius: 10px;
    transition: all 0.3 ease-in-out;
    margin: 7px auto 0;
    text-align: center;
}

.buttons div:hover {
    background-color: #636e72;
}

.buttons div:active {
    transform: scale(0.9);
}

.msg {
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    color: #ff7675;
    text-align: center;
}
