* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: white;
    font-family: "Jua", sans-serif;
}
.wrapper {
    width: 500px;
    height: 600px;
    margin: auto;
    border-radius: 15px;
    background-color: #17202a;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
}

h1 {
    padding: 20px;
    font-size: 55px;
}

.readyContainer {
    width: 90%;
    padding-bottom: 20px;
    margin: auto;
}
.button {
    all: unset;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    padding: 5px;
    font-size: 30px;
    vertical-align: center;
    line-height: 38px;
}

.button:hover {
    opacity: 0.8;
}
.button:active {
    transform: scale(0.9);
    transition: all 0.1s ease-in-out;
}

.startBtn {
    background-color: #2e86c1;
}
.nextBtn {
    width: 100px;
    background-color: #8e44ad;
    /* margin-right: 25px; */
}
.quitBtn {
    width: 100px;
    background-color: #eb4d4b;
}
.gameContainer {
    width: 90%;
    height: 65%;
    margin: 20px 0 20px;
    /* border: 1px solid white; */
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    background-color: #2c3e50;
}

.scoreContainer {
    /* background-color: #27ae60; */
    width: 80%;
    height: 100px;
    /* border: 1px solid white; */
    margin: auto;
}

.progressbarDiv {
    margin: 20px 0 30px;
}

.progressbar {
    width: 80%;
    height: 20px;
    background-color: #95a5a6;
    margin: auto;
    border-radius: 20px;
}

.progressbar > div {
    width: 0;
    height: 100%;
    background-color: #f9ca24;
    animation: progressBar 2s ease-in-out;
    border-radius: 20px;
}

.scoreDiv {
    margin: 10px 0 10px;
}

.scoreTd {
    display: inline-block;
    width: 150px;
    height: 40px;
    border: 2px dotted #b2bec3;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
}

.right:before {
    content: "O";
    color: #fa983a;
    font-size: 35px;
}
.wrong:before {
    content: "X";
    color: #82ccdd;
    font-size: 35px;
}

.quizContainer {
    width: 80%;
    height: 40%;
    /* background-color: #d35400; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.before {
    color: #fad390;
    font-size: 30px;
}

.problem {
    font-size: 45px;
    text-align: center;
}
.answer {
    width: 200px;
    /* padding: 10px; */
    background-color: transparent;
    border-bottom: solid 3px white;
    outline: none;
    font-size: 30px;
    text-align: center;
    color: white;
    /* margin-top: 5px; */
}
.resultContainer {
    width: 80%;
    height: 30px;
    margin: auto;
    padding-bottom: 30px;
    font-size: 30px;
}

.rightColor {
    color: #27ae60;
}
.wrongColor {
    color: #eb2f06;
}

.hide {
    display: none;
}
