* {
    padding: 0;
    margin: 0;
    user-select: none;
}
body {
    font-family: 'Gamja Flower', cursive;
}
.wrapper {
    background-color: #dfe6e9;
    width: 700px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
h1 {
    color: #747d8c;
    text-align: center;
    font-size: 4rem;
}
.button-container {
    margin: 0 auto 0;
    width: 90%;
    height: 10%;
    padding: 10px;
    font-size: 35px;
    text-align: center;
}
.restart-button {
    all: unset;
    width: 180px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    color: white;
    background-color: #0984e3;
    line-height: 20px;
}
.restart-button:active {
    transform: scale(0.9);
    transition: all 0.1s ease-in-out;
}
.score-container {
    width: 90%;
    text-align: center;
    margin: 0 auto 0;
}
.score-board {
    width: 250px;
    font-size: 80px;
    border: solid 2px #b2bec3;
    border-radius: 10px;
    margin: 10px auto;
    position: relative;
    color: white;
}
.badge {
    font-size: 30px;
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
}
#user-label {
    position: absolute;
    background-color: #ff7675;
    top: 30px;
    left: -40px;
}
#computer-label {
    position: absolute;
    background-color: #00b894;
    top: 30px;
    right: -50px;
}

.score-container > div:last-child {
    color: #747d8c;
}
.chose-container {
    position: relative;
}
.chose-container h2 {
    text-align: center;
    font-size: 40px;
    color: #747d8c;
    margin: 7px auto 7px;
}
.chose-inner-container {
    height: 25%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 2rem;
    text-align: center;
}
.chose {
    width: 146px;
    height: 146px;
    margin: 20px;
    border-radius: 73px;
    cursor: pointer;
    font-size: 28px;
    color: white;
    line-height: 20px;
    margin: 20px auto;
}
.icon {
    vertical-align: bottom;
}
.icon:hover {
    color: #576574;
}
.icon:active {
    transform: scale(0.9);
    transition: all 0.1s ease-in-out;
}
