<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Hello World</h1>

    <p>
      <a href="/vampire">뱀파이어 서바이벌 클론</a>
      <span
        ><a
          href="https://www.inflearn.com/course/phaser-%EA%B2%8C%EC%9E%84-%EC%A0%9C%EC%9E%91-%EB%B1%80%ED%8C%8C%EC%9D%B4%EC%96%B4-%EC%84%9C%EB%B0%94%EC%9D%B4%EB%B2%8C/dashboard"
          target="_blank"
          >참고강의</a
        ></span
      >
    </p>
  </body>
</html>
