* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body {
  background: linear-gradient(90deg, #effaff 0%, #d9e7ff 100%);
}
.container {
  height: 100vh;
  padding: 0 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.title {
  margin-top: 50px;
  font-size: 32px;
  background: -webkit-linear-gradient(45deg, rgb(58, 120, 219) 0%, rgb(123, 248, 196) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.board {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 10px;
  gap: 20px;
}

@media screen and (min-width: 400px) {
  .title {
    margin-top: 60px;
    font-size: 48px;
  }
}
@media screen and (min-width: 640px) {
  .container {
    width: 640px;
  }
  .title {
    margin-top: 80px;
    font-size: 60px;
  }
  .board {
    margin-top: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1020px) {
  .container {
    width: 1000px;
  }
  .title {
    margin-top: 100px;
    font-size: 72px;
  }
  .board {
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  min-width: 300px;
  height: 200px;
  border: 1px solid #bdc3c7;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card a {
  text-decoration: none;
  color: #2d3436;
  font-size: 20px;
}
